<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="/images/goals.jpg" alt="Set Meditation Goals" width="64" height="64">
        <h2 class="h2">Set Meditation Goals <small class="d-none">🛡️</small></h2>
        <p>MindTap Meditations allows you to set your meditation goals (focus, stress, or sleep) during onboarding, so you receive sessions tailored to your specific needs.</p>
    </div>
    <div class="col-lg-4">
        <img src="/images/duration.jpg" alt="Choose Session Length" width="64" height="64">
        <h2 class="h2">Choose Session Length <small class="d-none">🚀</small></h2>
        <p>You can choose short session durations (e.g., 2, 5, or 10 minutes) according to your schedule, so that you can easily fit mindfulness into my daily routine.</p>
    </div>
    <div class="col-lg-4">
        <img src="/images/progress.png" alt="Track Your Progress" width="64" height="64">
        <h2 class="h2">Track Your Progress <small class="d-none">📈</small></h2>
        <p>Be able to track your daily streak and total minutes meditated, so that you stay motivated and can measure your progress.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Add Ambient Sounds <small class="d-none">🦉</small></h2>
        <p>Choose your preferred meditation background (e.g., ocean, forest, silence), so that you can customize your experience.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Receive Reminders <small class="d-none">✨</small></h2>
        <p>Receive a reminder notification at your preferred time each day, so that you do not forget to take a mindfulness break.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Customize Your Settings <small class="d-none">🧰</small></h2>
        <p>You can enable dark mode, so that you can reduce screen glare and improve focus in low light.</p>
    </div>
</div>
